<div class="container">
  <mat-card>
    <app-people-tabs>
      <app-people-tab tabTitle="Woman">
        <p>Woman</p>
        <app-woman-list [people]="woman"></app-woman-list>
      </app-people-tab>
      <app-people-tab tabTitle="Man">
        <p>Men</p>
        <app-men-list [people]="man"></app-men-list>
      </app-people-tab>
    </app-people-tabs>

    <mat-grid-list cols="4" rowHeight="4:1" [hidden]="isLoading">
      <mat-grid-tile *ngFor="let person of people">
        <img class={{person.gender}} (click)="personDialog(person.email)" [src]="person.picture.large" />
      </mat-grid-tile>
    </mat-grid-list>

    <div class="input-field">
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder" #input (keydown.enter)="add(input)">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <app-todos-filters (update)="changeFilter($event)" [filters]="filters" [active]="activeFilter$ | async">
    </app-todos-filters>

    <app-todos [todos]="todos$ | async" (delete)="delete($event)" (complete)="complete($event)"></app-todos>
  </mat-card>
</div>
